<template>
  <div id="exportSupplies">
    <b-navbar type="light" variant="warning">
      <b-button v-b-toggle.sidemenu variant="outline-secondary" class="mr-2 d-block d-md-none"><f-icon icon="bars"></f-icon></b-button>
      <b-navbar-brand  class="mb-0">
        <img :src="logoImg" class="d-inline-block align-top rounded-circle" alt="Logo" width="30px">
        {{ logoName }}
      </b-navbar-brand>
    </b-navbar>

    <b-modal id="modalExport" size="xl" no-close-on-backdrop ok-only ok-title="สร้างใบชำระสินค้า" @ok="createInvoice">
      <template #modal-header="{ close }">
        <h5>สร้างใบชำระสินค้า</h5>
        <b-button size="sm" variant="outline-danger" @click="close()">
          ย้อนกลับไปเลือกรายการสั่งออก
        </b-button>
      </template>

      <template #default="">
        <b-overlay :show="!dataCreate" rounded="sm">
          <b-card>
            <b-card-body class="p-2">
              <label for="form_name" class="mb-1"><b>ชื่อผู้รับ:</b></label>
              <b-form-input id="form_name" v-model="formExport.recipientName" type="text" autocomplete="off" class="mb-2"></b-form-input>
              <label for="form_tel" class="mb-1"><b>เบอร์โทรศัพท์ผู้รับ:</b></label>
              <b-form-input id="form_tel" v-model="formExport.recipientTelephone" type="tel" autocomplete="off" class="mb-2" maxlength="10"></b-form-input>
              <label for="form_addr"><b>ที่อยู่จัดส่ง:</b> </label>
              <b-form-textarea id="form_addr" max-rows="6" class="mb-2" v-model="formExport.recipientAddress" rows="2"></b-form-textarea>

              <label for="form_transportType" class="mb-1"><b>บริษัทขนส่งสำหรับจัดส่ง:</b></label>
              <b-form-input id="form_transportType" v-model="formExport.transportType" type="text" autocomplete="off" class="mb-2" placeholder="เช่น ไปรษณีย์ไทย Kerry J&T"></b-form-input>
              <label for="form_paymentType" class="mb-1"><b>ชำระผ่านช่องทาง:</b> ธนาคารกสิกรไทย 027-8-24576-4 นางสาวพีรญา แสงบุญเรือง</label> <br>
              <!-- <p>ธนาคารกสิกรไทย 027-8-24576-4 นางสาวพีรญา แสงบุญเรือง</p> -->
              <!-- <b-form-input id="form_paymentType" v-model="formExport.paymentType" type="text" autocomplete="off" class="mb-2" placeholder="ธนาคารที่โอนเงินเข้ามา"></b-form-input> -->
              <label for="form_remark" class="mb-1"><b>หมายเหตุ:</b></label>
              <b-form-input id="form_remark" v-model="formExport.remark" type="text" autocomplete="off" class="mb-2" placeholder="วลีช่วยจำ, รายละเอียดพิเศษ"></b-form-input>
              <!-- <br>
              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1">
                  <b-form-checkbox
                    id="chb_haveSender"
                    v-model="haveSender"
                  >
                    กรอกที่อยู่ผู้ส่งใหม่
                  </b-form-checkbox>
                </b-card-header>

                <b-collapse v-model="haveSender">
                  <b-card-body>
                    <label for="sender_name" class="mb-1">ชื่อผู้ส่ง:</label>
                    <b-form-input id="sender_name" v-model="formExport.senderName" type="text" autocomplete="off" class="mb-2"></b-form-input>
                    <label for="sender_tel" class="mb-1">เบอร์โทรศัพท์ผู้ส่ง:</label>
                    <b-form-input id="sender_tel" v-model="formExport.senderTelephone" type="tel" maxlength="10" autocomplete="off" class="mb-2"></b-form-input>
                    <label for="sender_addr"><b>ที่อยู่ผู้ส่ง:</b> </label>
                    <b-form-textarea id="sender_addr" max-rows="6" class="mb-2" v-model="formExport.senderAddress" rows="2"></b-form-textarea>
                  </b-card-body>
                </b-collapse>
              </b-card> -->

              <br>
              <p>รายการสั่งออก</p>
              <b-table striped bordered small responsive
                :items="selected" :fields="selectedFields"
                class="table-mini">

                <template #cell(price)="data">
                  {{ data.item.priceByKilo > data.item.priceByQueue ? data.item.priceByKilo : data.item.priceByQueue }}
                </template>

                <template #custom-foot="">
                  <b-tr>
                  <!-- <b-tr v-if="selected.length > 1"> -->
                    <b-td colspan="7" class="text-right">ค่าบริการโกดัง</b-td>
                    <b-td>40</b-td>
                  </b-tr>
                  <b-tr>
                    <b-td colspan="7" class="text-right"><i class="text-danger">(ราคาข้างต้นเป็นเพียงราคาประมาณการ ค่าใช้จ่ายจริงจะคิดตามบิลขนส่งและหักลบคืนเป็นยอดเงินในระบบ)</i> ค่าจัดส่งในไทย</b-td>
                    <b-td>250</b-td>
                  </b-tr>
                  <b-tr>
                    <b-td colspan="7" class="text-right">ราคารวมทั้งหมด</b-td>
                    <b-td>{{ pricePaid }}</b-td>
                  </b-tr>
                </template>

              </b-table>
            </b-card-body>
          </b-card>
        </b-overlay>
      </template>
    </b-modal>

    <b-sidebar id="sidemenu" title="Menu" body-class="px-2" shadow>
      <left-menu></left-menu>
    </b-sidebar>
    <b-container fluid class="bg-white shadow-sm">
      <b-row>
        <b-col cols="3" class="d-none d-md-block border-right border-warning pb-4 pt-2">
          <h4 class="text-center">Menu</h4>
          <left-menu :key="componentKey"></left-menu>
        </b-col>
        <b-col md="9" class="pt-4 pb-4 animate__animated animate__fadeIn">
          <alert-card></alert-card>
          <h2>นำออกรหัสพัสดุ</h2>
          <b-row class="mb-3">
            <b-col sm="6" class="mb-2">
              <b-card body-class="p-0">
                <b-card-body>
                  <b-card-text>
                    <h5>จำนวนรวมรายการ: <b>{{ selected.length }} รายการ</b></h5>
                    <h5>จำนวนรวมยอดที่ต้องชำระ <b>{{ priceTotal }} บาท</b></h5>
                    <b-button :disabled="(selected.length === 0)" v-b-modal.modalExport block variant="outline-info"><f-icon icon="file-invoice-dollar"></f-icon> สร้างใบชำระสินค้า</b-button>
                  </b-card-text>
                </b-card-body>
              </b-card>
            </b-col>
            <b-col sm="6">

              <b-card body-class="p-0">
                <b-card-body>
                  <b-form @submit="onSubmit">
                    <b-card-text>
                      <label for="form_suppliesCode" class="mb-1">รหัสพัสดุ:</label>
                      <b-input-group class="mb-2">
                        <b-form-input id="form_suppliesCode" v-model="form.suppliesCode" type="text" autocomplete="off"></b-form-input>
                        <b-input-group-append>
                          <!-- @click="getDataTracking" -->
                          <b-button variant="success" type="submit">ค้นหา</b-button>
                        </b-input-group-append>
                      </b-input-group>
                      <b-form-checkbox v-model="form.isInThailand" name="check-in-thailand" switch value="Y" unchecked-value="">
                        แสดงเฉพาะที่ถึงไทย
                      </b-form-checkbox>
                    </b-card-text>
                  </b-form>
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>

          <b-table striped bordered small 
            :items="items" :fields="fields"
            :busy="!dataReady" selectable
            select-mode="multi" show-empty
            ref="selectableTable"
            selected-variant=""
            @row-selected="onRowSelected"
            empty-text="ไม่พบข้อมูล"
            class="table-mini">

            <template #head(selected)="">
              <b-form-checkbox v-model="allSelected" @change="onAllSelected">
              </b-form-checkbox>
            </template>

            <template #cell(selected)="data">
              <template v-if="data.item.InThailand">
                <template v-if="data.rowSelected">
                  <f-icon icon="check-square" class="text-success animate__animated animate__rubberBand"></f-icon>
                </template>
                <template v-else>
                  <f-icon icon="square"></f-icon>
                </template>
              </template>

              <!-- <b-form-checkbox v-model="data.item.selectData" @change="onRowSelected">
              </b-form-checkbox> -->
            </template>

            <template #cell(price)="data">
              {{ data.item.priceByKilo > data.item.priceByQueue ? data.item.priceByKilo : data.item.priceByQueue }}
            </template>

          </b-table>
        </b-col>
      </b-row>
    </b-container>
    <b-container fluid class="text-center mt-3 mb-2">
      {{ footerLC }}
    </b-container>
  </div>
</template>

<script>
import axios from "axios"; // api
import MenuBar from '@/components/Menubar' // เมนู
import AlertCard from '@/components/Alert' // แจ้งเดือน
export default {
  name: "exportSupplies",
  components: {
    'left-menu': MenuBar,
    'alert-card': AlertCard
  },
  beforeCreate() {
    // เหตุการจะเกิดขึ้นก่อนที่ Component จะถูก render เข้าไปใน DOM
    // this.$liff.init({ liffId: this.$liff_register_profile }, function (data) {})
  },
  created() {
    // ทุกอย่างจะถูกเตรียมไว้ครบหมดแล้ว และสามารถเข้าถึงได้หมด
    // setInterval(this.getDataMap, 1000)
  },
  async mounted() {
    // จะเกิดขึ้นเมื่อ DOM ถูกสร้างเสร็จแล้ว เราสามารถ เข้าถึง Element ต่างๆใน DOM ได้ทั้งหมด
    // เช่นการ ดึงข้อมูลจาก input เป็นต้น
    this.getDataUser()
    await this.getDataTracking()
  },
  data() {
    return {
      componentKey: 1000,
      fields: [
        'selected',
        { key: 'suppliesCode', label: 'รหัสพัสดุ' },
        { key: 'userCode', label: 'รหัสสมาชิก' },
        { key: 'mnemonicPhrase', label: 'วลีช่วยจำ' },
        { key: 'category', label: 'ประเภท' },
        { key: 'InWarehouse', label: 'เข้าโกดัง' },
        { key: 'OutWarehouse', label: 'ออกโกดัง' },
        { key: 'InThailand', label: 'ถึงไทย' },
        { key: 'totalWeight', label: 'น้ำหนักรวม' },
        { key: 'totalQueue', label: 'ขนาดคิว' },
        { key: 'price', label: 'ราคา' },
        // { key: 'priceTracking', label: 'ราคา' },
      ],
      items: [
        // {
        //   "userName": "",
        //   "suppliesCode": "A123456",
        //   "mnemonicPhrase": "เขียวเสวย",
        //   "amount": "20",
        //   "weight": "1",
        //   "wide": "2",
        //   "high": "3",
        //   "length": "4",
        //   "category": "ไม่รู้",
        //   "InWarehouse": "2021-06-19",
        //   "OutWarehouse": "2021-06-30",
        //   "InThailand": "2021-06-30",
        //   "priceByKilo": "0",
        //   "priceByQueue": "60.2",
        //   "woodenCrate": null,
        //   "checkProduct": "",
        //   "totalWeight": null,
        //   "totalQueue": null,
        //   "remark": null,
        //   "other": null,
        //   "deliver": null
        // }
      ],
      selectedFields: [
        { key: 'suppliesCode', label: 'รหัสพัสดุ' },
        { key: 'userCode', label: 'รหัสสมาชิก' },
        { key: 'mnemonicPhrase', label: 'วลีช่วยจำ' },
        { key: 'category', label: 'ประเภท' },
        { key: 'InWarehouse', label: 'เข้าโกดัง' },
        { key: 'OutWarehouse', label: 'ออกโกดัง' },
        { key: 'InThailand', label: 'ถึงไทย' },
        { key: 'price', label: 'ราคา' },
      ],
      selected: [],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      userData: {
        userName: '',
        userCode: '',
        firstName: '',
        lastName: '',
        telephoneNumber: '',
        userType: ''
      },
      form: {
        isInThailand: '',
        suppliesCode: '',
        userCode: ''
      },
      formExport: {
        recipientName: '',
        recipientAddress: '',
        recipientTelephone: '',
        transportType: '',

        amountPaid: '',
        amountTracking: '',
        amountDelivery: '',

        balanceInSystem: '',
        paymentType: 'ธนาคารกสิกรไทย 027-8-24576-4 นางสาวพีรญา แสงบุญเรือง',
        remark: '',
        senderName: '',
        senderAddress: '',
        senderTelephone: '',
        status: 'รอตรวจสอบ',
        userName: '',
        userCode: '',
        CREATE_USER: '',
        suppliesCode: []
      },
      dataReady: false,
      dataCreate: true,
      allSelected: false,
      haveSender: false,
      priceTotal: 0,
      pricePaid: 0,
    };
  },
  methods: {
    formatDate (dtDate) {
      if (dtDate) {
        var strDateShort = dtDate.split('-')[2] + '/' + dtDate.split('-')[1] + '/' + dtDate.split('-')[0].substring(2, 4)
        return strDateShort
      } else {
        return ''
      }
    },
    onAllSelected() {
      if (this.allSelected) {
        this.$refs.selectableTable.selectAllRows()
      } else {
        this.$refs.selectableTable.clearSelected()
      }
    },
    onRowSelected(items) {
      // console.log('onRowSelected', items.filter(dt => dt.InThailand))
      this.selected = items.filter(dt => dt.InThailand)
      this.priceTotal = 0
      for (let i = 0; i < this.selected.length; i++) {
        if (this.selected[i].priceByKilo) {
          this.priceTotal += parseFloat(this.selected[i].priceByKilo)
        } else if (this.selected[i].priceByQueue) {
          this.priceTotal += parseFloat(this.selected[i].priceByQueue)
        }
      }
      this.pricePaid = this.priceTotal
      // if (this.selected.length > 1) {
      this.pricePaid += 40
      this.pricePaid += 250
      // }
      console.log('onRowSelected this.selected: ', this.selected)
    },
    getDataUser () {
      this.dataReady = false;
      let lsUser = this.getDataStorageUser()
      if (lsUser) {
        this.userData = lsUser
        this.getDataProfile(lsUser.userName)
      } else {
        this.$router.push('/Login')
      }      
    },
    getDataProfile(dt) {
      this.dataReady = false;
      axios
        .get(
          // eslint-disable-next-line quotes
          "https://licm-cargo.com/api/User/user_list?userName="+dt,
          {
            headers: this.getHeaderAPI('User_list', dt)
          }
        )
        .then((response) => {
          let rs = response.data
          if (rs.status === true){
            // this.form = rs.data[0]
            let data = rs.data[0]

            this.formExport.CREATE_USER = dt
            this.formExport.userName = data.userName
            this.formExport.userCode = data.userCode
            this.formExport.recipientName = data.firstName + ' ' + data.lastName
            this.formExport.recipientAddress = data.address
            this.formExport.recipientTelephone = data.telephoneNumber

            console.log('getDataProfile', this.form)
            this.dataReady = true;
          } else {
            console.log("ผิดพลาด","ไม่สามารถดึงข้อมูลส่วนตัวได้","error")
            this.dataReady = true;
          }
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          this.dataReady = true;
          // this.errored = true
        });
    },
    onSubmit (event) {
      event.preventDefault()
      this.getDataTracking()
    },
    getDataTracking () {
      this.dataReady = false;
      this.totalRows = 0
      let uc = this.userData.userType === 'A' ? this.form.userCode : this.userData.userCode
      axios
        .get(
          // eslint-disable-next-line quotes
          'https://licm-cargo.com/api/Invoice_order/Invoice_export?userName=' +
          this.userData.userName +
          '&userType=' +
          this.userData.userType +
          '&userCode=' +
          uc +
          '&searchInThai=' +
          this.form.isInThailand +
          '&suppliesCode=' +
          this.form.suppliesCode,
          {
            headers: this.getHeaderAPI('Invoice_export', this.userData.userName)
          }
        )
        .then((response) => {
          // console.log('getDataTracking', response.data)
          let rs = response.data
          this.items = []
          
          if (rs.status === true){
            if (rs.data.length > 0) {
              this.totalRows = rs.data.length
              
              for (let i = 0; i < rs.data.length; i++) {
                var trackingData = rs.data[i]

                // trackingData.selectData = false
                trackingData.InWarehouse = this.formatDate(rs.data[i].InWarehouse)
                trackingData.OutWarehouse = this.formatDate(rs.data[i].OutWarehouse)
                trackingData.InThailand = this.formatDate(rs.data[i].InThailand)
                // trackingData.priceTracking = parseFloat(trackingData.priceByKilo || trackingData.priceByKilo)
                this.items.push(trackingData)
              }
              console.log('getDataTracking', this.items)
              // this.items = rs.data
            }
          }

          this.dataReady = true
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          console.log('getDataTracking error:', error)
          this.dataReady = true
          this.items = []
        });
    },
    createInvoice(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()

      this.formExport.amountPaid = this.pricePaid

      this.formExport.amountTracking = this.priceTotal
      this.formExport.amountDelivery = 250

      this.formExport.suppliesCode = this.selected.map(function (obj) {
        return obj.suppliesCode
      })
      // if (!this.haveSender) {
      //   this.formExport.senderName = ''
      //   this.formExport.senderAddress = ''
      //   this.formExport.senderTelephone = ''
      // }

      // Trigger submit handler
      this.onSubmit()
    },
    onSubmit() {
      // Push the name to submitted names
      this.dataCreate = false
      axios
        .post(
          // eslint-disable-next-line quotes
          "https://licm-cargo.com/api/Deliver_detail/Deliver_detail_add",
          this.formExport,
          {
            headers: this.getHeaderAPI('Deliver_detail_add', this.formExport.userName)
          }
        )
        .then(async (response) => {
          console.log('onSubmit', response)
          let rs = response.data

          let footer_alert = null
          if (rs.status === true) {
            if (rs.invoice_doc) { footer_alert = '<a href="/User/Delivery?Doc=' + rs.invoice_doc + '">เปิดดูใบชำระสินค้า</a>' }
            this.$swal({
              icon: 'success',
              title: 'สร้างใบชำระสินค้าเรียบร้อย',
              html: '' +
              ' เงินในระบบของท่านคงเหลือ ' + rs.cashBalance + ' บาท',

              // ' <br>ยอดที่ต้องชำระ <b style="font-size: 1.65rem;">'+ this.pricePaid +'</b> บาท' +
              // ' <br><b><i>ธนาคารกสิกรไทย 027-8-24576-4<br>นางสาวพีรญา แสงบุญเรือง</i></b> ' +
              // ' <br><br><a href="/User/Payment">แจ้งชำระเงิน</a>',

              // ' <br>แจ้งสลิปการชำระเงินผ่านทางไลน์ LICM Cargo ' +
              // ' <img src="https://firebasestorage.googleapis.com/v0/b/trackingpreorder.appspot.com/o/QRWEBLICM.jpg?alt=media&amp;token=c22bf46c-9cc5-4cec-85e4-e701f7e70f70" width="180" height="180" class="my-2 mx-auto d-block"> ' + 
              // ' <a href="https://lin.ee/NUGqMkp"><img data-v-6beb1a3f="" src="https://scdn.line-apps.com/n/line_add_friends/btn/th.png" alt="เพิ่มเพื่อน" height="30" border="0"></a>',
              // ' <br><a href="/User/Payment?Doc=' + rs.invoice_doc + '">แจ้งชำระเงิน</a>',
              footer: footer_alert
            })
            this.dataCreate = true
            // Hide the modal manually
            this.$nextTick(() => {
              this.getDataTracking()
              this.$bvModal.hide('modalExport')
              // this.$router.push('/Route?target=Export&uriType=User')
            })
          } else {
            console.log('onSubmit Fail')
            this.$swal("ผิดพลาด","ไม่สามารถสร้างใบชำระสินค้าได้","error")
            this.dataCreate = true
          }
        })
        .catch((error) => {
          console.log(error)
          let err_resp = error.response.data
          if (err_resp.amount) {
            // this.dataUser.timeout = new Date().getTime() + 900000
            // this.dataUser.cashBalance = err_resp.cashBalance
            // this.$session.set('mbd', JSON.stringify(this.dataUser))

            this.$swal({
              icon: 'error',
              title: 'ไม่สามารถสร้างใบชำระสินค้าได้',
              html: '' +
              ' เงินในระบบของท่านคงเหลือ ' + err_resp.cashBalance + ' บาท' +
              ' <br>กรุณาเติมเงินเพิ่มอีกอย่างน้อย <b style="font-size: 1.65rem;">' + (err_resp.amount) + '</b> บาท' +
              ' <br><br><a href="/User/TopUp">เติมเงิน</a>',
              // footer: footer_alert
            }).then((result) => { 
              // this.$router.push('/Route?target=Export&uriType=User')
            })
          } else {
            this.$swal("ผิดพลาด","ไม่สามารถสร้างใบชำระสินค้าได้","error")
          }
          this.dataCreate = true
        })
    }
  },
  watch: {
    // selected(newValue, oldValue) {
    // }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#form-profile {
  text-align: left;
}

div.language-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-mini{
  font-size: 0.85rem;
}
</style>
