<template>
  <div id="history">
    <b-navbar type="light" variant="warning">
      <b-button v-b-toggle.sidemenu variant="outline-secondary" class="mr-2 d-block d-md-none"><f-icon icon="bars"></f-icon></b-button>
      <b-navbar-brand  class="mb-0">
        <img :src="logoImg" class="d-inline-block align-top rounded-circle" alt="Logo" width="30px">
        {{ logoName }}
      </b-navbar-brand>
    </b-navbar>
    <b-sidebar id="sidemenu" title="Menu" body-class="px-2" shadow>
      <left-menu></left-menu>
    </b-sidebar>
    <b-container fluid class="bg-white shadow-sm">
      <b-row>
        <b-col cols="3" class="d-none d-md-block border-right border-warning pb-4 pt-2">
          <h4 class="text-center">Menu</h4>
          <left-menu></left-menu>
        </b-col>
        <b-col md="9" class="pt-4 pb-4 animate__animated animate__fadeIn">
          <alert-card></alert-card>
          <h2>ประวัติใบสั่งซื้อ</h2>
          <b-row>
            <b-col sm="6" class="mb-2">
              <!-- <b-card bg-variant="light">
                <b-card-text>
                  {{ 'ชื่อผู้ใช้' }}<br>
                  {{ 'เบอร์โทรผู้ใช้' }} <br>
                  {{ 'ที่อยู่ผู้ใช้' }}
                  </b-card-text>
              </b-card> -->
            </b-col>
            <b-col sm="6">
              <b-card body-class="p-0">
                <b-card-body>
                  <b-card-text>
                    <label for="form_username" class="mb-1">เลขใบสั่งซื้อ:</label>
                    <b-form-input id="form_username" class="mb-2" v-model="userData.userName" type="text" ></b-form-input>
                  </b-card-text>
                  <b-button variant="success" @click="loginUser" block pill>ค้นหา</b-button>
                </b-card-body>
              </b-card>
            </b-col>
          </b-row>
          <hr>
          <b-table hover bordered :items="items" :fields="fields">
            <!-- A virtual column -->
            <template #cell(index)="data">
              {{ data.index + 1 }}
            </template>

            <!-- A custom formatted column -->
            <template #cell(name)="data">
              <b-card body-class="text-info p-2">
                {{ data.item.first_name }}
                {{ data.item.last_name }}
                <br>
                {{ data.item.age }} years old
              </b-card>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
    <b-container fluid class="text-center mt-3 mb-2">
      {{ footerLC }}
    </b-container>
  </div>
</template>

<script>
import axios from "axios"; // api
import MenuBar from '@/components/Menubar' // เมนู
import AlertCard from '@/components/Alert' // แจ้งเดือน
export default {
  name: "Tracking",
  components: {
    'left-menu': MenuBar,
    'alert-card': AlertCard
  },
  beforeCreate() {
    // เหตุการจะเกิดขึ้นก่อนที่ Component จะถูก render เข้าไปใน DOM
    // this.$liff.init({ liffId: this.$liff_register_profile }, function (data) {})
  },
  created() {
    // ทุกอย่างจะถูกเตรียมไว้ครบหมดแล้ว และสามารถเข้าถึงได้หมด
    // setInterval(this.getDataMap, 1000)
  },
  async mounted() {
    // จะเกิดขึ้นเมื่อ DOM ถูกสร้างเสร็จแล้ว เราสามารถ เข้าถึง Element ต่างๆใน DOM ได้ทั้งหมด
    // เช่นการ ดึงข้อมูลจาก input เป็นต้น
    await this.getDataUser("tester");
  },
  data() {
    return {
      fields: [
        { key: 'index', label: 'ลำดับ' },
        'first_name',
        'last_name',
        { key: 'name', label: 'Full Name' },
        'age'
      ],
      items: [
          { age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
          { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
          { age: 89, first_name: 'Geneva', last_name: 'Wilson' },
          { age: 38, first_name: 'Jami', last_name: 'Carney' }
      ],
      userData: {
        userName: '',
        firstName: '',
        lastName: '',
        telephoneNumber: '',
        userType: ''
      },
      dataReady: true,
    };
  },
  methods: {
    onSubmitPrivacy() {
      if (this.form.confirmPrivacy === "T") {
        this.dataPrivacy = [false, true];
      }
    },
    getDataUser(dt) {
      // console.log(dt)
      this.dataReady = false;
      axios
        .get(
          // eslint-disable-next-line quotes
          "https://asia-east2-kathin-9005e.cloudfunctions.net/registerProfile-select_by_userId?userId=" +
            dt
        )
        .then((response) => {
          // console.log('getDataUser', response)
          this.dataReady = true;
          let rs = response.data;
          if (rs.length > 0) {
            Object.assign(this.form, rs[0]);
            this.colorBorder = "#FBB03B";
            this.dataPrivacy[1] = true;
            // this.dataPrivacy[0] = true
            // colorBorder: '#FBB03B',
          } else {
            this.colorBorder = "#0069D9";
            this.dataPrivacy[0] = true;
          }
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          this.dataReady = true;
          // this.errored = true
        });
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#form-profile {
  text-align: left;
}

div.language-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>
