<template>
  <div id="profile">
    <b-container fluid class="bg-white shadow-sm">
      <b-row>
        <b-col cols="3" class="d-none d-md-block border-right border-warning pb-4 pt-2">
          <h4 class="text-center">Menu</h4>
          <left-menu></left-menu>
        </b-col>
        <b-col md="9" class="pt-2 pb-4">
          <div class="text-right language-bar">
            <b-form-checkbox
              v-model="form.language"
              name="language-button"
              value="th"
              unchecked-value="en"
              button
              button-variant="info"
            >
              Language : <b>{{ form.language }}</b>
            </b-form-checkbox>
          </div>
          <b-card>
            <b-card-body>
              <div v-if="dataReady">
                <b-collapse id="collapsePrivacy1" v-model="dataPrivacy[0]">
                  <h4>สำคัญ</h4>
                  <ol>
                    <li>
                      ข้อมูลของท่านจะถูกเก็บเป็นความลับ ทั้งการใช้งานทั่วไป
                      อาทิเช่น พฤติกรรมการใช้ การค้นหาข้อมูล
                      รวมถึงการใช้งานเชิงพาณิชย์การกุศลอาทิเช่น
                      การกรอกข้อมูลจำนวนเงิน
                    </li>
                    <li>
                      ในการใช้บริการนี้ ผู้ใช้ต้องตรวจสอบว่าได้ดำเนินการผ่าน
                      Kathin LINE Official Accotun ผู้ให้บริการนี้ไม่
                      ต้องรับผิดชอบต่อความเสียหายใดๆ ที่เกิดจากการใช้บริการจาก
                      แหล่งอื่นที่ไม่ใช่ผู้ให้บริการอย่างเป็นทางการ
                    </li>
                    <li>
                      ข้อมูลส่วนบุคคลประกอบด้วย ชื่อ-นามสกุล, เบอร์ติดต่อ,
                      อีเมลล์
                    </li>
                    <li>
                      โปรดตรวจสอบว่า ชื่อ-นามสกุลของท่าน
                      ไม่มีเนื้อหาที่ละเมิดในสิทธิ์ของผู้ใด เช่น ละเมิดลิขสิทธิ์
                      ละเมิด ความเป็นส่วนตัว ตามที่ระบุในข้อกำหนดการใช้บริการ
                    </li>
                  </ol>
                  <hr />
                  <b-form-checkbox
                    id="checkboxPrivacy"
                    v-model="form.confirmPrivacy"
                    name="checkboxPrivacy"
                    value="T"
                    unchecked-value="F"
                  >
                    ฉันยอมรับข้อกำหนดและเงื่อนไขต่างๆ
                  </b-form-checkbox>
                  <hr />
                  <b-row class="text-center">
                    <b-col>
                      <b-button
                        pill
                        @click="onSubmitPrivacy()"
                        variant="success"
                        >ตกลง</b-button
                      >
                    </b-col>
                  </b-row>
                </b-collapse>
                <b-collapse id="collapsePrivacy2" v-model="dataPrivacy[1]">
                  <b-row align-h="center" class="formProfile">
                    <b-col xs="11" md="8" lg="6">
                      <b-form-group id="input-group-name">
                        <label for="input-userFullName">ชื่อ - นามสกุล :</label>
                        <b-form-input
                          id="input-userFullName"
                          v-model="form.userFullName"
                          type="text"
                          required
                          placeholder="ชื่อ-นามสกุล"
                          class="inputForm"
                          maxlength="50"
                        ></b-form-input>
                      </b-form-group>
                      <b-form-group id="input-group-name">
                        <label for="input-tel">เบอร์โทรศัพท์ :</label>
                        <b-form-input
                          id="input-tel"
                          size="sm"
                          v-model="form.userPhone"
                          type="tel"
                          placeholder="EX : 0812345679"
                          class="inputForm"
                          maxlength="10"
                        ></b-form-input>
                      </b-form-group>
                      <b-form-group id="input-group-name">
                        <label for="input-email">E-mail :</label>
                        <b-form-input
                          id="input-email"
                          size="sm"
                          v-model="form.userEmail"
                          type="email"
                          placeholder="โปรดระบุอีเมล"
                          class="inputForm"
                          maxlength="50"
                        ></b-form-input>
                      </b-form-group>
                    </b-col>
                  </b-row>

                  <b-row align-h="center" v-if="!dataRegister">
                    <b-col md="8" lg="6">
                      <b-button block pill @click="onSubmit()" variant="primary"
                        >ลงทะเบียน</b-button
                      >
                    </b-col>
                  </b-row>

                  <b-row align-h="center" v-if="dataRegister">
                    <b-col md="8" lg="6">
                      <b-button block pill @click="onUpdate()" variant="warning"
                        >ปรับปรุง</b-button
                      >
                    </b-col>
                  </b-row>
                </b-collapse>
              </div>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <b-container fluid class="text-center mt-3 mb-2">
      {{ footerLC }}
    </b-container>
  </div>
</template>

<script>
import axios from "axios"; // api
import MenuBar from '@/components/Menubar' // เมนู
import AlertCard from '@/components/Alert' // แจ้งเดือน
export default {
  name: "Profile",
  components: {
    'left-menu': MenuBar,
    'alert-card': AlertCard
  },
  beforeCreate() {
    // เหตุการจะเกิดขึ้นก่อนที่ Component จะถูก render เข้าไปใน DOM
    // this.$liff.init({ liffId: this.$liff_register_profile }, function (data) {})
  },
  created() {
    // ทุกอย่างจะถูกเตรียมไว้ครบหมดแล้ว และสามารถเข้าถึงได้หมด
    // setInterval(this.getDataMap, 1000)
  },
  async mounted() {
    // จะเกิดขึ้นเมื่อ DOM ถูกสร้างเสร็จแล้ว เราสามารถ เข้าถึง Element ต่างๆใน DOM ได้ทั้งหมด
    // เช่นการ ดึงข้อมูลจาก input เป็นต้น
    await this.getDataUser("tester");
  },
  data() {
    return {
      msg: "Welcome Kathin",
      colorBorder: "#0069D9",
      dataPrivacy: [false, false],
      form: {
        userId: "",
        userFullName: "",
        userPhone: "",
        userEmail: "",
        pictureUrl: "",
        language: "th",
        confirmPrivacy: "",
      },
      dataRegister: true,
      dataReady: true,
    };
  },
  methods: {
    onSubmitPrivacy() {
      if (this.form.confirmPrivacy === "T") {
        this.dataPrivacy = [false, true];
      }
    },
    onSubmit() {
      this.dataReady = false;
      axios
        .post(
          // eslint-disable-next-line quotes
          "https://asia-east2-kathin-9005e.cloudfunctions.net/registerProfile-addData",
          this.form
        )
        .then(async (response) => {
          console.log("getDataUser", response);
          this.dataReady = true;
          this.dataRegister = true;
          this.colorBorder = "#FBB03B";

          await this.$swal("สำเร็จ", "ลงทะเบียนสำเร็จ", "success").then(
            (value) => {
              if (this.$route.query.requestRegister) {
                console.log("closeWindow", this.$route.query.requestRegister);
                this.$liff.closeWindow();
              }
            }
          );
          // console.log('getDataUser', rs)
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          this.dataReady = true;
          // this.errored = true
        });
    },
    onUpdate() {
      this.dataReady = false;
      axios
        .post(
          // eslint-disable-next-line quotes
          "https://asia-east2-kathin-9005e.cloudfunctions.net/registerProfile-updateData?userId=" +
            this.form.userId,
          this.form
        )
        .then(async (response) => {
          console.log("getDataUser", response);
          this.dataReady = true;
          this.dataRegister = true;
          this.colorBorder = "#FBB03B";

          await this.$swal("สำเร็จ", "แก้ไขข้อมูลสำเร็จ", "success");
          // console.log('getDataUser', rs)
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          this.dataReady = true;
          // this.errored = true
        });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#form-profile {
  text-align: left;
}

div.language-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>
