<template>
  <div class="menu">
    <div class="pb-3 pt-1">
      <template v-if="userData.userType === 'A'">

        <b-button v-for="menu in menuAdmin" :key="menu.id"
        variant="light" block @click="$router.push('/Route?target=' + menu.uri + '&uriType=' + menu.uriType)"
        class="mb-1 pl-2 text-left">
        <f-icon :icon="menu.icon"></f-icon>
        {{ menu.message }} <b-badge variant="danger" v-if="menu.haveNotification && countNotification[menu.uri] !== '0'" class="right-badge"> {{ countNotification[menu.uri] }} </b-badge>
        </b-button>
      </template>

      <template v-if="userData.userType === 'U'">
        <b-button v-for="menu in menuUser" :key="menu.id"
        variant="light" block @click="$router.push('/Route?target=' + menu.uri + '&uriType=' + menu.uriType)"
        class="mb-1 pl-2 text-left">
        <f-icon :icon="menu.icon"></f-icon>
        {{ menu.message }}
        </b-button>
      </template>

      <b-button v-for="menu in menuItems" :key="menu.id"
      variant="light" block @click="$router.push('/Route?target=' + menu.uri + '&uriType=' + menu.uriType)"
      class="mb-1 pl-2 text-left">
      <f-icon :icon="menu.icon"></f-icon>
      {{ menu.message }} <b-badge variant="danger" v-if="menu.haveNotification && userData.userType === 'A' && countNotification[menu.uri] !== '0'" class="right-badge">{{ countNotification[menu.uri] }}</b-badge>
      </b-button>

      <hr>

      <div class="text-center">
        <h4>ยอดเงินคงเหลือรวม</h4>
        <!-- :class="(userBalance > 0 ? 'text-success' : 'text-danger') +'animate__animated animate__rubberBand'" -->
        <h3 v-if="dataReady"
          class="animate__animated animate__rubberBand"
          >
          {{ userBalance }} บาท
        </h3>
        <h2 v-if="!dataReady"><f-icon icon="spinner" pulse></f-icon></h2>
        <!-- <h4>บาท</h4> -->
        <h6 v-if="dataReady" class="text-primary">ยอดเงินสั่งสินค้า <b class="animate__animated animate__rubberBand">{{ preBalance ? preBalance : 0 }} บาท</b></h6>
        <h6 v-if="dataReady" class="text-info">ยอดเงินขนส่ง <b class="animate__animated animate__rubberBand">{{ exportBalance ? exportBalance : 0 }} บาท</b></h6>

        <h6><b-badge v-if="dataReady" @click="getDataUserBalance()"><f-icon icon="sync-alt"></f-icon> refresh</b-badge></h6>
      </div>

      <hr>
      <p>เรทนำเข้าสินค้าจากจีน</p>
      <table class="table table-bordered table-sm" style="font-size: .78rem;">
        <thead>
          <tr>
            <th scope="col">ประเภทสินค้า</th>
            <th scope="col">ราคาต่อกิโล</th>
            <th scope="col">ราคาต่อคิว</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">สินค้าปกติ</th>
            <td>40</td>
            <td>6500</td>
          </tr>
          <tr>
            <th scope="row">มอก,อย,<br>ของเล่น</th>
            <td>55</td>
            <td>7500</td>
          </tr>
          <tr>
            <th scope="row">สินค้าลิขสิทธิ์</th>
            <td>80</td>
            <td>8500</td>
          </tr>
        </tbody>
      </table>

      <hr>
      <div class="text-center">
        ติดต่อสอบถามแอดไลน์ LICM Cargo

        <b-img center
          src="https://firebasestorage.googleapis.com/v0/b/trackingpreorder.appspot.com/o/QRWEBLICM.jpg?alt=media&token=c22bf46c-9cc5-4cec-85e4-e701f7e70f70"
          width="180px"
          height="180px" class="my-2"></b-img>

        <a href="https://lin.ee/NUGqMkp">
          <img src="https://scdn.line-apps.com/n/line_add_friends/btn/th.png" alt="เพิ่มเพื่อน" height="30" border="0">
        </a>
      </div>

      <hr>
      <b-button @click="logoutUser" pill block size="lg"><f-icon icon="sign-out-alt"></f-icon> Log out</b-button>
    </div>
  </div>
</template>

<script>
import axios from "axios"; // api
export default {
  name: "MenuBar",
  mounted() {
    // จะเกิดขึ้นเมื่อ DOM ถูกสร้างเสร็จแล้ว เราสามารถ เข้าถึง Element ต่างๆใน DOM ได้ทั้งหมด
    // เช่นการ ดึงข้อมูลจาก input เป็นต้น
    // let memberJsonData = localStorage.getItem('memberData')
    // if (memberJsonData) {
    //   this.userData = JSON.parse(memberJsonData)
    // }
    this.userData = this.getDataStorageUser()
    this.getDataUserBalance()

    if (this.userData.userType === 'A') {
      this.getDataNotification()
    }

  },
  data() {
    return {
      msg: "Welcome to Your Vue.js App",
      dataReady: false,
      userData: {
        userName: '',
        firstName: '',
        lastName: '',
        telephoneNumber: '',
        userType: ''
      },
      userBalance: 0.01,
      preBalance: 0.01,
      exportBalance: 0.01,
      countNotification: {
        Tracking: 0,
        Refill: 0,
        Transport: 0
      },
      menuItems: [
        {
          id: 1,
          message: 'รายการรหัสพัสดุ',
          uriType: 'User',
          uri: 'Tracking',
          haveNotification: true,
          icon: 'clipboard-list'
        },
        {
          id: 3,
          message: 'รายการสั่งออกสินค้า',
          uriType: 'User',
          uri: 'Delivery',
          icon: 'truck-loading'
        },
        {
          id: 4,
          message: 'ประวัติรหัสพัสดุ',
          uriType: 'User',
          uri: 'History',
          icon: 'history'
        }
      ],
      menuUser: [
        {
          id: 1,
          message: 'ตั้งค่าบัญชีผู้ใช้',
          uriType: 'User',
          uri: 'Profile',
          icon: 'user-cog'
        },
        {
          id: 2,
          message: 'สั่งออกรหัสพัสดุ',
          uriType: 'User',
          uri: 'Export',
          icon: 'dolly'
        },
        // {
        //   id: 3,
        //   message: 'แจ้งชำระเงิน',
        //   uriType: 'User',
        //   uri: 'Payment',
        //   icon: 'file-invoice-dollar'
        // },
        {
          id: 5,
          message: 'แจ้งเติมเงิน',
          uriType: 'User',
          uri: 'TopUp',
          icon: 'coins'
        },
        {
          id: 6,
          message: 'ประวัติการเติมเงิน',
          uriType: 'User',
          uri: 'HistoryTopUp',
          icon: 'file-invoice-dollar'
          // icon: 'search-dollar'
        },
      ],
      menuAdmin: [
        {
          id: 1,
          message: 'รายการบัญชีผู้ใช้',
          uriType: 'Admin',
          uri: 'Accounts',
          icon: 'users'
        },
        {
          id: 2,
          message: 'จัดการประกาศ',
          uriType: 'Admin',
          uri: 'Announce',
          icon: 'comment'
        },
        {
          id: 3,
          message: 'อนุมัติรายการเติมเงิน',
          uriType: 'Admin',
          uri: 'Refill',
          haveNotification: true,
          icon: 'file-invoice-dollar'
        },
        {
          id: 3,
          message: 'แนบบิลขนส่ง',
          uriType: 'Admin',
          uri: 'Transport',
          haveNotification: true,
          icon: 'truck-moving'
        },
      ]
    };
  },
  methods: {
    showAlert () {
      // Use sweetalert2
      this.$swal("Hello Vue world!!!");
    },
    getDataUserBalance () {
      this.dataReady = false
      axios
        .get(
          // eslint-disable-next-line quotes
          'https://licm-cargo.com/api/User/User_balance?userName=' +
          this.userData.userName,
          {
            headers: this.getHeaderAPI('User_balance', this.userData.userName)
          }
        )
        .then((response) => {
          let rs = response.data
          if (rs.status === true){
            this.userBalance = rs.total_balance
            this.preBalance = rs.pre_balance
            this.exportBalance = rs.export_balance
            // this.userBalance = parseFloat(rs.balance)
            this.dataReady = true;
          } else {
            this.userBalance = 0
            this.preBalance = 0
            this.exportBalance = 0
            this.$swal("ผิดพลาด","ไม่สามารถเรียกดูเงินคงเหลือของท่าน กรุณาติดต่อแอดมิน","error")
            this.dataReady = true;
          }
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          this.userBalance = 0
          this.preBalance = 0
          this.exportBalance = 0
          this.$swal("ผิดพลาด","ไม่สามารถเรียกดูเงินคงเหลือของท่าน กรุณาติดต่อแอดมิน","error")
          this.dataReady = true;
          // this.errored = true
        });
    },
    getDataNotification () {
      this.dataReady = false
      axios
        .get(
          // eslint-disable-next-line quotes
          'https://licm-cargo.com/api/Authen/notification',
          {
            headers: this.getHeaderAPI('Notification')
          }
        )
        .then((response) => {
          let rs = response.data
          if (rs.status === true){
            this.countNotification.Tracking = rs.data.countInvoice
            this.countNotification.Refill = rs.data.countSlipTopUp
            this.countNotification.Transport = rs.data.countDeliver

            // this.dataReady = true;
          } else {
            this.$swal("ผิดพลาด","ไม่สามารถเรียกดูแจ้งเตือนได้","error")
            // this.dataReady = true;
          }
        })
        // eslint-disable-next-line handle-callback-err
        .catch((error) => {
          this.$swal("ผิดพลาด","ไม่สามารถเรียกดูแจ้งเตือนได้: "+ error,"error")
          // this.dataReady = true;
          // this.errored = true
        });
    },
    logoutUser () {
      this.$router.push('/Login')
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .btn-light:not(:hover){
    background-color: transparent;
    border-color: transparent;
  }
  .right-badge{
    float: right;
    top: 3px !important;
  }
</style>
