<template>
  <div id="history">
    <b-navbar type="light" variant="warning">
      <b-button v-b-toggle.sidemenu variant="outline-secondary" class="mr-2 d-block d-md-none"><f-icon icon="bars"></f-icon></b-button>
      <b-navbar-brand  class="mb-0">
        <img :src="logoImg" class="d-inline-block align-top rounded-circle" alt="Logo" width="30px">
        {{ logoName }}
      </b-navbar-brand>
    </b-navbar>
    <b-sidebar id="sidemenu" title="Menu" body-class="px-2" shadow>
      <!-- <left-menu></left-menu> -->
    </b-sidebar>
    <b-container fluid class="bg-white shadow-sm">
      <b-row>
        <b-col cols="3" class="d-none d-md-block border-right border-warning pb-4 pt-2">
          <!-- <h4 class="text-center">Menu</h4>
          <left-menu></left-menu> -->
        </b-col>
        <b-col md="9" class="pt-4 pb-4">

        </b-col>
      </b-row>
    </b-container>
    <b-container fluid class="text-center mt-3 mb-2">
      {{ footerLC }}
    </b-container>
  </div>
</template>

<script>
import axios from "axios"; // api
import MenuBar from '@/components/Menubar' // เมนู
import AlertCard from '@/components/Alert' // แจ้งเดือน
export default {
  name: "Tracking",
  components: {
    'left-menu': MenuBar,
    'alert-card': AlertCard
  },
  beforeCreate() {
    // เหตุการจะเกิดขึ้นก่อนที่ Component จะถูก render เข้าไปใน DOM
    // this.$liff.init({ liffId: this.$liff_register_profile }, function (data) {})
  },
  created() {
    // ทุกอย่างจะถูกเตรียมไว้ครบหมดแล้ว และสามารถเข้าถึงได้หมด
    // setInterval(this.getDataMap, 1000)
  },
  mounted() {
    // จะเกิดขึ้นเมื่อ DOM ถูกสร้างเสร็จแล้ว เราสามารถ เข้าถึง Element ต่างๆใน DOM ได้ทั้งหมด
    // เช่นการ ดึงข้อมูลจาก input เป็นต้น
    this.getDataRoute()
  },
  data() {
    return {
      dataReady: true,
    }
  },
  methods: {
    getDataRoute() {
      let uri = '/' + this.$route.query.uriType + '/' + this.$route.query.target
      // console.log('getDataRoute:', uri)
      this.$router.push(uri)
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#form-profile {
  text-align: left;
}

div.language-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>
