<template>
  <div id="app">
    <!-- <img src="./assets/logo.png"> -->
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');


#app {
  color: rgb(0, 7, 36);
  font-family: 'Chakra Petch', sans-serif;
}

.swal2-modal, .modal-dialog {
  font-family: 'Chakra Petch', sans-serif !important;
}

body {
  background: #efefee;
}

.w-90 {
  width: 90px;
}

.w-120 {
  width: 130px;
}

.w-150 {
  width: 150px;
}

.border-1r {
  border-width:.1rem !important;
}

.border-purple {
  border-color: #7c00ff !important;
}

.text-purple {
  color: #8c00ff !important;
}

.alert-purple {
  color: #580085 !important;
  background-color: #daccff !important;
  border-color: #7c00ff;
}

div.custom-radio-purple .custom-control-input:checked~.custom-control-label:before{
  background-color: #8c00ff !important;
  border-color: #7c00ff !important;
}

.btn-purple {
  color: #fff !important;
  background-color: #8c00ff !important;
  border-color: #7c00ff !important;
}

.btn-purple.focus, .btn-purple:focus, .btn-purple:hover {
  color: #fff !important;
  background-color: #7700d8 !important;
  border-color: #7c00ff !important;
}

.badge-purple {
  color: #fff !important;
  background-color: #8c00ff !important;
}
</style>
